[ -n "$DOCKER_BUILD_NO_CACHE" ] && build_args+=(--no-cache)
export BUILDKIT_PROGRESS=plain

export USER_ID=1000
export GROUP_ID=1000
export USER_NAME=agent
export GROUP_NAME=agent
export USER_HOME=/azp
build_args+=(--build-arg USER_ID)
build_args+=(--build-arg GROUP_ID)
build_args+=(--build-arg USER_NAME)
build_args+=(--build-arg GROUP_NAME)
build_args+=(--build-arg USER_HOME)

export _BUILD_PROXY_URL=http://192.168.1.1:3128
build_args+=(--build-arg _BUILD_PROXY_URL)

export _BUILD_CACERTDIR=cacerts
build_args+=(--build-arg _BUILD_CACERTDIR)

export _FROM_IMAGE=registry.access.redhat.com/ubi8/ubi
export _FROM_TAG=latest
build_args+=(--build-arg _FROM_IMAGE)
build_args+=(--build-arg _FROM_TAG)

export _HELM_VER=3.12.3
export _OC_VER=4.10.12
build_args+=(--build-arg _HELM_VER)
build_args+=(--build-arg _OC_VER)

export remoterepo=registry.example.com/devops/linuxagent
export remotetag=latest
