AZP_URL=https://dev.azure.com/PROJECT
AZP_POOL=Test
AZP_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AGENTPREFIX=testagent
export AZP_URL AZP_POOL AZP_TOKEN AGENTPREFIX

PROXY_URL=http://192.168.1.1:3128
export PROXY_URL

IMAGEHOST=localhost
IMAGEPREFIX=
IMAGENAME=linuxagent
IMAGETAG=latest
IMAGE="${IMAGEHOST}${IMAGEPREFIX}/${IMAGENAME}:${IMAGETAG}"
export IMAGE
