export AZP_URL=https://dev.azure.com/PROJECT
export AZP_POOL=Test
export AZP_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
export AGENTPREFIX=testxagent

export PROXY_URL=http://192.168.1.1:3128

export USER_ID=1000
export GROUP_ID=1000

export remoterepo=registry.example.com/devops/linuxagent
export remotetag=latest
